# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Text Files
Enunciado.pdf
ruts_100000000.txt
ruts_50000000.txt
ruts_10000000.txt
ruts_1000000.txt
ruts_500000.txt
ruts_100000.txt
ruts_50000.txt
ruts_10000.txt
ruts_1000.txt
ruts_100.txt

# Repositories
data
